Pre-processing

In [31]:
#Importing the useful libraries 
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [32]:
#Load the dataset 
df = pd.read_csv(r"C:\Users\User\Downloads\population-and-demography.csv\population-and-demography.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18288 entries, 0 to 18287
Data columns (total 24 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country name                                18288 non-null  object
 1   Year                                        18288 non-null  int64
 2   Population                                  18288 non-null  int64
 3   Population of children under the age of 1   18288 non-null  float64
 4   Population of children under the age of 5   18288 non-null  int64
 5   Population of children under the age of 15  18288 non-null  int64
 6   Population under the age of 25              18288 non-null  int64
 7   Population aged 15 to 64 years              18288 non-null  int64
 8   Population older than 15 years              18288 non-null  int64
 9   Population older than 18 years              18288 non-null  int64
 10  Population at age 1                         18288 non-null  float64
 11  Population aged 1 to 4 years                18288 non-null  float64
 12  Population aged 5 to 9 years                18288 non-null  int64
 13  Population aged 10 to 14 years              18288 non-null  int64
 14  Population aged 15 to 19 years              18288 non-null  int64
 15  Population aged 20 to 29 years              18288 non-null  int64
 16  Population aged 30 to 39 years              18288 non-null  int64
 17  Population aged 40 to 49 years              18288 non-null  int64
 18  Population aged 50 to 59 years              18288 non-null  int64
 19  Population aged 60 to 69 years              18288 non-null  int64
 20  Population aged 70 to 79 years              18288 non-null  int64
 21  Population aged 80 to 89 years              18288 non-null  int64
 22  Population aged 90 to 99 years              18288 non-null  int64
 23  Population older than 100 years             18288 non-null  float64
dtypes: float64(4), int64(19), object(1)
memory usage: 3.3+ MB

In [33]:
df.head()

,Country name,Year,Population,Population of children under the age of 1,Population of children under the age of 5,Population of children under the age of 15,Population under the age of 25,Population aged 15 to 64 years,Population older than 15 years,Population older than 18 years,...,Population aged 15 to 19 years,Population aged 20 to 29 years,Population aged 30 to 39 years,Population aged 40 to 49 years,Population aged 50 to 59 years,Population aged 60 to 69 years,Population aged 70 to 79 years,Population aged 80 to 89 years,Population aged 90 to 99 years,Population older than 100 years
0,Afghanistan,1950,7480464,301735.0,1248282,3068855,4494349,4198587,4411609,3946595,...,757113,1241348,909953,661807,467170,271905,92691,9499,123,0.0
1,Afghanistan,1951,7571542,299368.0,1246857,3105444,4552138,4250002,4466098,3993640,...,768616,1260904,922765,667015,468881,273286,94358,10155,118,0.0
2,Afghanistan,1952,7667534,305393.0,1248220,3145070,4613604,4303436,4522464,4041439,...,781411,1280288,935638,672491,470898,274852,96026,10721,139,0.0
3,Afghanistan,1953,7764549,311574.0,1254725,3186382,4676232,4356242,4578167,4088379,...,794308,1298803,948321,678064,472969,276577,97705,11254,166,0.0
4,Afghanistan,1954,7864289,317584.0,1267817,3231060,4741371,4408474,4633229,4136116,...,806216,1316768,961484,684153,475117,278210,99298,11793,190,0.0

In [34]:
# View the columns of the DataFrame
print(df.columns)
df.size

Index(['Country name', 'Year', 'Population',
       'Population of children under the age of 1',
       'Population of children under the age of 5',
       'Population of children under the age of 15',
       'Population under the age of 25', 'Population aged 15 to 64 years',
       'Population older than 15 years', 'Population older than 18 years',
       'Population at age 1', 'Population aged 1 to 4 years',
       'Population aged 5 to 9 years', 'Population aged 10 to 14 years',
       'Population aged 15 to 19 years', 'Population aged 20 to 29 years',
       'Population aged 30 to 39 years', 'Population aged 40 to 49 years',
       'Population aged 50 to 59 years', 'Population aged 60 to 69 years',
       'Population aged 70 to 79 years', 'Population aged 80 to 89 years',
       'Population aged 90 to 99 years', 'Population older than 100 years'],
      dtype='object')

438912

In [35]:
# Print the count of missing values (null values) in each column of the DataFrame
print(df.isnull().sum())

Country name                                  0
Year                                          0
Population                                    0
Population of children under the age of 1     0
Population of children under the age of 5     0
Population of children under the age of 15    0
Population under the age of 25                0
Population aged 15 to 64 years                0
Population older than 15 years                0
Population older than 18 years                0
Population at age 1                           0
Population aged 1 to 4 years                  0
Population aged 5 to 9 years                  0
Population aged 10 to 14 years                0
Population aged 15 to 19 years                0
Population aged 20 to 29 years                0
Population aged 30 to 39 years                0
Population aged 40 to 49 years                0
Population aged 50 to 59 years                0
Population aged 60 to 69 years                0
Population aged 70 to 79 years                0
Population aged 80 to 89 years                0
Population aged 90 to 99 years                0
Population older than 100 years               0
dtype: int64

In [36]:
# Print the count of duplicated rows in the DataFrame
print(df.duplicated().sum())

0

In [37]:
# Select multiple rows by position
print(df.loc[1:5])# rows 1 to 5

  Country name  Year  Population  Population of children under the age of 1  \
1  Afghanistan  1951     7571542                                   299368.0
2  Afghanistan  1952     7667534                                   305393.0
3  Afghanistan  1953     7764549                                   311574.0
4  Afghanistan  1954     7864289                                   317584.0
5  Afghanistan  1955     7971933                                   323910.0

   Population of children under the age of 5  \
1                                    1246857
2                                    1248220
3                                    1254725
4                                    1267817
5                                    1291129

   Population of children under the age of 15  Population under the age of 25  \
1                                     3105444                         4552138
2                                     3145070                         4613604
3                                     3186382                         4676232
4                                     3231060                         4741371
5                                     3281470                         4812348

   Population aged 15 to 64 years  Population older than 15 years  \
1                         4250002                         4466098
2                         4303436                         4522464
3                         4356242                         4578167
4                         4408474                         4633229
5                         4462830                         4690463

   Population older than 18 years  ...  Population aged 15 to 19 years  \
1                         3993640  ...                          768616
2                         4041439  ...                          781411
3                         4088379  ...                          794308
4                         4136116  ...                          806216
5                         4187921  ...                          817550

   Population aged 20 to 29 years  Population aged 30 to 39 years  \
1                         1260904                          922765
2                         1280288                          935638
3                         1298803                          948321
4                         1316768                          961484
5                         1334989                          975801

   Population aged 40 to 49 years  Population aged 50 to 59 years  \
1                          667015                          468881
2                          672491                          470898
3                          678064                          472969
4                          684153                          475117
5                          691279                          477664

   Population aged 60 to 69 years  Population aged 70 to 79 years  \
1                          273286                           94358
2                          274852                           96026
3                          276577                           97705
4                          278210                           99298
5                          279789                          100839

   Population aged 80 to 89 years  Population aged 90 to 99 years  \
1                           10155                             118
2                           10721                             139
3                           11254                             166
4                           11793                             190
5                           12342                             210

   Population older than 100 years
1                              0.0
2                              0.0
3                              0.0
4                              0.0
5                              0.0

[5 rows x 24 columns]

Data Types in the Dataset and Their Role in Machine Learning : 

Data Type	Example Column	Description	Machine Learning Usage
Object (Categorical)	Country name (Column 0)	Represents the country names as categorical data.	- Classification: Use in classification models by encoding into numerical form (e.g., one-hot encoding).
- Clustering: Group countries with similar demographic profiles.
Integer (Numerical)	Year (Column 1)	Discrete numerical data representing specific years.	- Time-Series Forecasting: Use as a feature to forecast population growth or demographic changes over time.
Population aged 5 to 9 years (Column 12)	Represents specific age groups in the population using whole numbers.	- Regression: Use as a feature to predict continuous outcomes like health resource needs or future population trends.
Population aged 15 to 64 years (Column 7)	Represents the working-age population (ages 15 to 64).	- Clustering: Use to group countries based on demographic data using unsupervised learning algorithms (e.g., K-means).
Float64 (Numerical)	Population of children under age of 1 (Col 3)	Continuous data representing the population of children under 1, with decimal precision.	- Regression: Use in models to predict continuous variables (e.g., healthcare needs).
Population older than 100 years (Column 23)	Represents a specific age group with decimal precision, useful for detailed population analysis.	- Normalization/Scaling: Important for models sensitive to data magnitude, like neural networks.